.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap:wrap;
}

.flex-column{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}


.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
.bg-primary{
    background-color:$primary;
}
.bg-purple{
    background-color: #A27EB8;
}
.bg-secondary{
    background-color: $secondary;
}
.ps-35{
    padding-right: 35px;
}
.pb-16{
    padding-bottom: 16px;
}
.pe-20{
    padding-left: 20px;
}
.mb-8{
    margin-bottom: 8px;
}

.mb-20{
    margin-bottom: 20px;
}
.mt-18{
    margin-top: 18px;
}
.mt-35{
    margin-top: 35px;
}

.border-0{
    border: none;
}

.rounded-1{
    border-radius:10px;
}
.rounded-2{
    border-radius:20px;
}

.fz-20{
    font-size: 20px;
}

.fz-50{
    font-size: 50px;
}