.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap:wrap;
}

.flex-column{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
.background-primary{
    background-color:$primary;
}
.ps-35{
    padding-right: 35px;
}

.pe-20{
    padding-left: 20px;
}

.mt-18{
    margin-top: 18px;
}
.mt-35{
    margin-top: 35px;
}

.border-0{
    border: none;
}

.rounded-1{
    border-radius:10px;
}
.rounded-2{
    border-radius:20px;
}