/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, 'Noto Sans TC', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0px 16px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    padding: 0px 50px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-primary {
  background-color: #FFCC00;
}

.bg-purple {
  background-color: #A27EB8;
}

.bg-secondary {
  background-color: #FF8800;
}

.ps-35 {
  padding-right: 35px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pe-20 {
  padding-left: 20px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-35 {
  margin-top: 35px;
}

.border-0 {
  border: none;
}

.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.fz-20 {
  font-size: 20px;
}

.fz-50 {
  font-size: 50px;
}

.fz-12 {
  font-size: 12px;
}

.fz-30 {
  font-size: 30px;
}

nav {
  height: 109px;
}

@media (max-width: 992px) {
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-title h1 {
  float: left;
}

.nav-title h1 a {
  background-image: url("https://github.com/ptsai129/TaiwanTravel/blob/main/img/taiwango.png?raw=true");
  background-position: center;
  height: 41px;
  width: 149px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .nav-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-searchBar input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px;
}

.nav-searchBar button {
  background-color: #00C2BA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px;
  color: #ffff;
  font-size: 35px;
  padding: 7px 25px;
}

@media (max-width: 992px) {
  .nav-searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .nav-searchBar {
    display: none;
  }
}

.nav-selectArea {
  border: none;
  border-left: 1px solid #FF8800;
  color: #FF8800;
}

.nav-mobile-searchBar {
  display: none;
}

@media (max-width: 992px) {
  .nav-mobile-searchBar {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-mobile-searchBar {
    display: block;
  }
}

.nav-mobile-searchBar input {
  padding: 8px 50px;
  width: 100%;
  text-align: center;
}

.nav-links a {
  color: #ffff;
}

.nav-links a i {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .nav-links {
    display: none;
  }
}

.nav-mobile-links {
  display: none;
  padding-left: 74px;
}

@media (max-width: 992px) {
  .nav-mobile-links {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-mobile-links {
    display: block;
  }
}

.nav-mobile-links a {
  color: #ffff;
}

.nav-mobile-links a i {
  font-size: 18px;
}

@media (max-width: 992px) {
  .nav-mobile-links {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-mobile-links {
    display: block;
  }
}

.latestInfo {
  width: 100%;
}

.latestInfo .latestInfo-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.latestInfo-item {
  padding: 12.5px 10px;
  background-color: #FF8800;
  color: #ffff;
  font-size: 18px;
}

.latestInfo-item i {
  font-size: 28px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .latestInfo-item {
    padding: 8px;
    font-size: 12px;
  }
  .latestInfo-item i {
    font-size: 18px;
  }
}

.banner-wrapper {
  height: 400px;
  width: 1000px;
}

.banner-wrapper .swiper-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.packageTour p {
  margin-top: 96px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Noto Sans TC',sans-serif;
}

.packageTour-Kaohsiung {
  margin-right: 40px;
}

@media (max-width: 767px) {
  .packageTour-Kaohsiung {
    margin-bottom: 40px;
    margin-right: 0px;
  }
}

.kaohsiung-txt, .taipei-txt {
  background-color: #FFCC00;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kaohsiung-txt h2, .taipei-txt h2 {
  margin-top: 16px;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Noto Sans TC',sans-serif;
}

.kaohsiung-txt a, .taipei-txt a {
  display: block;
  text-align: right;
  margin-bottom: 26px;
  padding-right: 26px;
  color: black;
}

.kaohsiung-txt a:hover, .taipei-txt a:hover {
  color: #00C2BA;
  font-weight: 700;
}

.kaohsiungTrip, .taipeiTrip {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 270px;
  width: 424px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .kaohsiungTrip, .taipeiTrip {
    height: 237px;
    width: 343px;
    padding: 0;
  }
}

.popularAttraction h2 {
  margin-top: 92px;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Noto Sans TC',sans-serif;
}

.explore-img {
  border-radius: 15px;
  height: 231px;
  width: 316px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.card-tag {
  position: absolute;
  top: 60px;
  right: 0px;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 28px 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media (max-width: 767px) {
  .card-tag {
    top: 80px;
    padding: 15px 10px;
    font-size: 24px;
  }
}

.btn {
  background-color: #00C2BA;
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-size: 20px;
  padding: 23px 26px 23px 137px;
  margin-top: 38px;
  margin-bottom: 92px;
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    padding: 15px 17px 15px 93px;
    margin-top: 12px;
    margin-bottom: 42px;
  }
}

.btn-IconPadding {
  padding-left: 95px;
}

@media (max-width: 767px) {
  .btn-IconPadding {
    padding-left: 66px;
  }
}

.contributeStories h3, .activityInfo h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Noto Sans TC',sans-serif;
  margin-bottom: 37px;
}

@media (max-width: 767px) {
  .contributeStories h3, .activityInfo h3 {
    margin-bottom: 27px;
  }
}

.contribute-card img {
  height: 526px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contribute-card .contribute-text {
  border: 1px solid #FF8800;
  height: 136px;
  border-radius: 10px;
  padding: 14px 50px 14px 14px;
  position: relative;
}

.contribute-card .contribute-text p {
  line-height: 24px;
  font-weight: 400;
}

.question-font {
  font-size: 35px;
  font-family: Roboto, serif;
  font-weight: 700;
  margin-right: 14px;
}

.icon-position {
  color: black;
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 28px;
}

.activityInfo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 204, 0, 0.3);
  border-radius: 10px;
  padding: 23px 41px 23px 70px;
}

@media (max-width: 992px) {
  .activityInfo-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .activityInfo-item {
    padding: 12px;
  }
}

.date {
  font-family: Roboto, serif;
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .date {
    font-size: 12px;
  }
}

.activityLabel {
  border-radius: 10px;
  text-align: center;
  padding: 23px 40px;
  margin-left: 30px;
}

@media (max-width: 992px) {
  .activityLabel {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .activityLabel {
    padding: 2px 18px;
    border-radius: 5px;
    margin-left: 12px;
  }
}

.activityLabel p {
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Noto Sans TC',sans-serif;
}

@media (max-width: 767px) {
  .activityLabel p {
    font-size: 14px;
  }
}

.activity-txt {
  width: 469px;
  font-size: 18px;
  margin-left: 13px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .activity-txt {
    font-size: 16px;
  }
}

.recruitment {
  margin-bottom: 92px;
  width: 610px;
  border-radius: 15px;
  padding: 16px 80px;
}

@media (max-width: 992px) {
  .recruitment {
    padding: 16px 16px;
  }
}

.recruitment h3 {
  margin-top: 16px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Noto Sans TC',sans-serif;
}

@media (max-width: 767px) {
  .recruitment h3 {
    font-size: 25px;
  }
}

.recruitment-subtitle {
  margin-top: 85px;
  margin-bottom: 31px;
  font-size: 30px;
  font-family: Roboto, serif;
  font-weight: 700;
}

@media (max-width: 767px) {
  .recruitment-subtitle {
    margin-top: 49px;
    font-size: 20px;
  }
}

.recruitment-txt {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .recruitment-txt {
    font-size: 16px;
  }
}

.footer-links {
  padding-top: 66px;
  padding-bottom: 47px;
}

.footer-links a {
  margin-right: 75px;
  color: black;
  font-weight: 700;
  font-family: 'Noto Sans TC', serif;
}

@media (max-width: 767px) {
  .footer-links a {
    margin-right: 30px;
    font-size: 12px;
  }
}

.footer-links a:hover {
  color: #00C2BA;
}

.links-row {
  margin-bottom: 27px;
}

@media (max-width: 767px) {
  .links-firstrow {
    margin-bottom: 42px;
    margin-right: 0px;
  }
}

.KaohsiungAttration h1 {
  font-family: 'Noto Sans TC',serif;
  font-weight: 700;
  line-height: 72px;
  margin-top: 92px;
  margin-bottom: 92px;
}

@media (max-width: 992px) {
  .KaohsiungAttration h1 {
    font-size: 25px;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 36px;
  }
}

.KaohsiungAttration img {
  border-radius: 15px;
}

.KaohsiungAttration .KaohsiungAttration-img {
  margin-bottom: 42px;
  width: 100%;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .KaohsiungAttration .KaohsiungAttration-img {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .KaohsiungAttration .KaohsiungAttration-img {
    height: 200px;
  }
}

.KaohsiungAttration h2 {
  font-size: 35px;
  font-family: 'Noto Sans TC',serif;
  font-weight: 700;
  margin-bottom: 42px;
}

@media (max-width: 992px) {
  .KaohsiungAttration h2 {
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.KaohsiungAttration p {
  font-weight: 500;
  font-family: 'Noto Sans TC',serif;
  line-height: 24px;
  font-size: 20px;
  margin-top: 42px;
  margin-bottom: 92px;
}

@media (max-width: 992px) {
  .KaohsiungAttration p {
    font-size: 16px;
  }
}

.attrationIntro {
  margin-top: 92px;
  margin-bottom: 92px;
}

@media (max-width: 767px) {
  .attrationIntro {
    margin-top: 16px;
    margin-bottom: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.attractionIntro-img {
  width: 505px;
  height: 360px;
  margin-right: 125px;
}

@media (max-width: 992px) {
  .attractionIntro-img {
    width: 50%;
    margin-right: 16px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .attractionIntro-img {
    width: 100%;
    margin-right: 0px;
  }
}

.attrationIntro-txt {
  width: 400px;
}

@media (max-width: 992px) {
  .attrationIntro-txt {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .attrationIntro-txt {
    width: 100%;
    margin-top: 16px;
  }
}

.breadcrumbs {
  margin-top: 92px;
  margin-bottom: 46px;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: '>';
  margin: 0 5px;
}

.breadcrumbs-link {
  color: black;
  font-family: 'Noto Sans TC',serif;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

.breadcrumbs-link-active {
  font-weight: 700;
}

.main h2 {
  font-size: 30px;
  font-family: 'Noto Sans TC',serif;
  font-weight: 700;
  margin-bottom: 87px;
}

.selectGroup {
  margin-bottom: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .selectGroup {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 12px;
  }
}

.selectGroup-mobile {
  display: none;
}

@media (max-width: 767px) {
  .selectGroup-mobile {
    display: block;
  }
}

.areaList {
  height: 55px;
  padding: 13px 40px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #FF8800;
  color: #FF8800;
  font-size: 20px;
  margin-right: 42px;
}

@media (max-width: 992px) {
  .areaList {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.areaList option {
  font-size: 20px;
  color: #FF8800;
}

@media (max-width: 992px) {
  .areaList option {
    font-size: 14px;
  }
}

.categoryBtn {
  background-color: #ffff;
  border: 1px solid #FF8800;
  border-radius: 20px;
  padding: 13px;
  margin-right: 20px;
}

.categoryBtn a {
  color: #FF8800;
  font-size: 20px;
}

@media (max-width: 992px) {
  .categoryBtn a {
    font-size: 14px;
  }
}

.categoryBtn:hover {
  background-color: #FF8800;
}

.categoryBtn:hover a {
  color: #ffff;
}

@media (max-width: 992px) {
  .categoryBtn {
    padding: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .categoryBtn {
    display: none;
  }
}

.categoryBtn-mobile {
  background-color: #ffff;
  border: 1px solid #FF8800;
  border-radius: 20px;
  width: 101px;
  padding: 8px;
}

.categoryBtn-mobile a {
  color: #FF8800;
  font-size: 14px;
}
/*# sourceMappingURL=all.css.map */