@import "_variables";
@import "_mixin";
@import "_base";
@import "_utils";



.fz-12{
    font-size: 12px;
}
.fz-30{
    font-size: 30px;
}

    

nav{
    height:109px;
    @include mobile{
        flex-wrap: wrap;
    }
}

.nav-title{
    h1{
        float:left;
        a{
            background-image: url(/img/taiwango-logo.png);
            background-position: center;
            height:41px;
            width:149px;
            display: block;
            text-indent: 101%;
            overflow: hidden; 
            white-space: nowrap;
        }
    }
    @include pad{
        display: flex;
       
    }

}

.nav-searchBar{
    input{
        padding-top: 15px;
        padding-bottom:15px;
        padding-left: 20px;
        border-top-left-radius: 20px; 
        border-bottom-left-radius:20px;
        border:1px;
    }
    button{
        background-color:$success;
        border-top-right-radius: 20px; 
        border-bottom-right-radius:20px;
        border:1px;
        color: $light;
        font-size: 35px;
        padding: 7px 25px;
  
        }
        @include pad{
            display: flex;
        }
        @include mobile{
            display: none;
        }
    }


.nav-selectArea{
    border:none;
    border-left:1px solid $secondary;
    color:$secondary;
}


.nav-mobile-searchBar{
    display: none;
    @include desktop-below{
        display: none;
    }

    @include mobile{
        display: block;
    
    }
   
    input{
         padding:8px 50px;
         width:100%;
         text-align: center;
    }

}

.nav-links{
    a{
    color:$light;
    i{
        margin-bottom: 10px;
    }
}
    
    @include pad{
        display: flex;
    }
    @include mobile{
        display: none;
    }
}

.nav-mobile-links{
    display: none;
    @include pad{
        display: none;
    }
    @include desktop-below{
        display: none;
    }
    @include mobile{
        display: block;
    }
    padding-left:74px;
    a{
        color:$light;
        i{
            font-size: 18px;
        }
    }
    

    @include desktop-below{
        display: none;
    }

    @include mobile{
        display: block;
    }

}


.latestInfo{
    width:100%;
    .latestInfo-wrapper{
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }

.latestInfo-item{
    padding:12.5px 10px;
    background-color:$secondary;
    color:$light;
    font-size: 18px;
        i{
            font-size: 28px;
            padding-right: 20px;
        }

    @include mobile{
        padding:8px;
        font-size: 12px;
        i{
            font-size: 18px;
        }
    }
}


.banner-wrapper{
    height:400px;
    width:1000px;
.swiper-img{
    img{
        border-radius:15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
}
.packageTour{
    padding: 0px 127px;
    @include desktop-below{
        padding: 0 80px;
    }
    @include mobile{
        padding: 0px 16px;
    }   
    p{
        margin-top: 96px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
    }
}
.packageTour-items{
    width:100%;
}

.packageTour-Kaohsiung{
    margin-right:40px;
   @include pad{
    margin-right:0; 
    margin-bottom:40px;
  }
}
.kaohsiung-txt , .taipei-txt{
    background-color: $primary;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    h2{
        margin-top: 16px;
        margin-bottom: 45px;
        font-weight: 700;
        font-size: 28px;
        font-family: 'Noto Sans TC',sans-serif;
    }
    a{  
        display:block;
        text-align:right;
        margin-bottom: 26px;
        padding-right: 26px;
        color:black;
    }
}

.kaohsiungTrip , .taipeiTrip{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:270px;
    width:424px;
    object-fit: cover;
    
    @include mobile{
        height:237px;
        width:343px;
        padding:0;
    }
}


.popularAttraction{
    padding: 0px 127px;
    @include mobile{
        padding: 0px 16px;
    }   
        h2{
            margin-top: 92px;
            font-size: 28px;
            font-weight:500;
            font-family: 'Noto Sans TC',sans-serif;
        }
}

