/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, 'Noto Sans TC', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0px 16px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.background-primary {
  background-color: #FFCC00;
}

.ps-35 {
  padding-right: 35px;
}

.pe-20 {
  padding-left: 20px;
}

.border-0 {
  border: none;
}

.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.fz-12 {
  font-size: 12px;
}

.fz-30 {
  font-size: 30px;
}

nav {
  height: 109px;
}

@media (max-width: 568px) {
  nav {
    padding-right: 16px;
    padding-left: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-title h1 {
  float: left;
}

.nav-title h1 a {
  background-image: url(/img/taiwango-logo.png);
  background-position: center;
  height: 41px;
  width: 149px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nav-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-searchBar input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px;
}

.nav-searchBar button {
  background-color: #00C2BA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px;
  color: #ffff;
  font-size: 35px;
  padding: 7px 25px;
}

@media (max-width: 768px) {
  .nav-searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 568px) {
  .nav-searchBar {
    padding-right: 16px;
    padding-left: 16px;
    display: none;
  }
}

.nav-selectArea {
  border: none;
  border-left: 1px solid #FF8800;
  color: #FF8800;
}

.nav-mobile-searchBar {
  display: none;
}

@media (max-width: 1200px) {
  .nav-mobile-searchBar {
    display: none;
  }
}

@media (max-width: 568px) {
  .nav-mobile-searchBar {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
  }
}

.nav-mobile-searchBar input {
  padding: 8px 50px;
  width: 100%;
  text-align: center;
}

.nav-links a {
  color: #ffff;
}

.nav-links a i {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 568px) {
  .nav-links {
    padding-right: 16px;
    padding-left: 16px;
    display: none;
  }
}

.nav-mobile-links {
  display: none;
  padding-left: 74px;
}

@media (max-width: 768px) {
  .nav-mobile-links {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav-mobile-links {
    display: none;
  }
}

@media (max-width: 568px) {
  .nav-mobile-links {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
  }
}

.nav-mobile-links a {
  color: #ffff;
}

.nav-mobile-links a i {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .nav-mobile-links {
    display: none;
  }
}

@media (max-width: 568px) {
  .nav-mobile-links {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
  }
}

.latestInfo {
  width: 100%;
}

.latestInfo .latestInfo-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.latestInfo-item {
  padding: 12.5px 10px;
  background-color: #FF8800;
  color: #ffff;
  font-size: 18px;
}

.latestInfo-item i {
  font-size: 28px;
  padding-right: 20px;
}

@media (max-width: 568px) {
  .latestInfo-item {
    padding-right: 16px;
    padding-left: 16px;
    padding: 8px;
    font-size: 12px;
  }
  .latestInfo-item i {
    font-size: 18px;
  }
}

.banner-wrapper {
  height: 400px;
  width: 1000px;
}

.banner-wrapper .swiper-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.packageTour {
  padding: 0px 127px;
}

@media (max-width: 568px) {
  .packageTour {
    padding-right: 16px;
    padding-left: 16px;
    padding: 0px 16px;
  }
}

.packageTour p {
  margin-top: 96px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}

.packageTour-items {
  width: 100%;
}

.packageTour-Kaohsiung {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .packageTour-Kaohsiung {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.kaohsiung-txt, .taipei-txt {
  background-color: #FFCC00;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kaohsiung-txt h2, .taipei-txt h2 {
  margin-top: 16px;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Noto Sans TC',sans-serif;
}

.kaohsiung-txt a, .taipei-txt a {
  display: block;
  text-align: right;
  margin-bottom: 26px;
  padding-right: 26px;
  color: black;
}

.kaohsiungTrip, .taipeiTrip {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 270px;
  width: 424px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 568px) {
  .kaohsiungTrip, .taipeiTrip {
    padding-right: 16px;
    padding-left: 16px;
    height: 237px;
    width: 343px;
    padding: 0;
  }
}

.popularAttraction {
  padding: 0px 127px;
}

@media (max-width: 568px) {
  .popularAttraction {
    padding-right: 16px;
    padding-left: 16px;
    padding: 0px 16px;
  }
}

.popularAttraction h2 {
  margin-top: 92px;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Noto Sans TC',sans-serif;
}
/*# sourceMappingURL=all.css.map */