@import "_variables";
@import "_mixin";
@import "_base";
@import "_utils";



.fz-12{
    font-size: 12px;
}
.fz-30{
    font-size: 30px;
}

    

nav{
    height:109px;
    @include pad{
        justify-content: flex-start;
    }

    @include mobile{
        flex-wrap: wrap;
    }
}

.nav-title{
    h1{
        float:left;
        a{
            background-image: url('https://github.com/ptsai129/TaiwanTravel/blob/main/img/taiwango.png?raw=true');
            background-position: center;
            height:41px;
            width:149px;
            display: block;
            text-indent: 101%;
            overflow: hidden; 
            white-space: nowrap;
        }
    }
    @include pad{
        display: flex;
       
    }

}

.nav-searchBar{
    input{
        padding-top: 15px;
        padding-bottom:15px;
        padding-left: 20px;
        border-top-left-radius: 20px; 
        border-bottom-left-radius:20px;
        border:1px;
    }
    button{
        background-color:$success;
        border-top-right-radius: 20px; 
        border-bottom-right-radius:20px;
        border:1px;
        color: $light;
        font-size: 35px;
        padding: 7px 25px;
  
        }
        @include pad{
            display: flex;
        }
        @include mobile{
            display: none;
        }
    }


.nav-selectArea{
    border:none;
    border-left:1px solid $secondary;
    color:$secondary;
}


.nav-mobile-searchBar{
    display: none;
    @include pad{
        display: none;
    }

    @include mobile{
        display: block;
    
    }
   
    input{
         padding:8px 50px;
         width:100%;
         text-align: center;
    }

}

.nav-links{
    a{
    color:$light;
    i{
        margin-bottom: 10px;
    }
}
    
    @include pad{
        display: flex;
    }
    @include mobile{
        display: none;
    }
}

.nav-mobile-links{
    display: none;
    @include pad{
        display: none;
    }
  
    @include mobile{
        display: block;
    }
    padding-left:74px;
    a{
        color:$light;
        i{
            font-size: 18px;
        }
    }
    

    @include pad{
        display: none;
    }

    @include mobile{
        display: block;
    }

}


.latestInfo{
    width:100%;
    .latestInfo-wrapper{
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }

.latestInfo-item{
    padding:12.5px 10px;
    background-color:$secondary;
    color:$light;
    font-size: 18px;
        i{
            font-size: 28px;
            padding-right: 20px;
        }

    @include mobile{
        padding:8px;
        font-size: 12px;
        i{
            font-size: 18px;
        }
    }
}


.banner-wrapper{
    height:400px;
    width:1000px;
.swiper-img{
    img{
        border-radius:15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
}


.packageTour{
      
    p{
        margin-top: 96px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Noto Sans TC',sans-serif;
    }
}


.packageTour-Kaohsiung{
   margin-right:40px;
    @include mobile{
    margin-bottom: 40px;
    margin-right: 0px;
    }
 
}
.kaohsiung-txt , .taipei-txt{
    background-color: $primary;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    h2{
        margin-top: 16px;
        margin-bottom: 45px;
        font-weight: 700;
        font-size: 28px;
        font-family: 'Noto Sans TC',sans-serif;
    }
    a{  
        display:block;
        text-align:right;
        margin-bottom: 26px;
        padding-right: 26px;
        color:black;
        &:hover{
            color:$success;
            font-weight: 700;
        }
    }
}

.kaohsiungTrip , .taipeiTrip{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:270px;
    width:424px;
    object-fit: cover;

    @include pad{
        height:237px;
        width:343px;
        padding:0;
    }
}


.popularAttraction{
   
        h2{
            margin-top: 92px;
            font-size: 28px;
            font-weight:500;
            font-family: 'Noto Sans TC',sans-serif;
        }
}



.explore-img {
      border-radius: 15px;
      height:231px;
       width:316px;
      object-fit: cover;
      position:relative;

    }

.card-tag{
    position:absolute;
    top:60px;
    right:0px;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.8);
    writing-mode: vertical-rl;
    padding: 28px 14px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    @include mobile{
        top:80px;
        padding:15px 10px;
        font-size: 24px;
    }
  

    
  
}

//按鈕
.btn{
    background-color: $success;
    border:none;
    border-radius: 10px;
    color: $light;
    font-size: 20px;
    padding:23px 26px 23px 137px;
    margin-top: 38px;
    margin-bottom: 92px;
    @include mobile{
        font-size: 12px;
        padding:15px 17px 15px 93px;
        margin-top: 12px;
        margin-bottom: 42px;
    }
}

.btn-IconPadding{
    padding-left: 95px;
    @include mobile{
        padding-left: 66px;
    }
}

.contributeStories ,.activityInfo{
    h3{
        font-size: 28px;
        font-weight:700;
        font-family: 'Noto Sans TC',sans-serif;
        margin-bottom: 37px;
        @include mobile{
            margin-bottom: 27px;
        }
    }
}

.contribute-card {
    img{
    height:526px;
    width:100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    }
    .contribute-text{
        border:1px solid $secondary;
        height:136px;
        border-radius: 10px;
        padding:14px 50px 14px 14px;
        position: relative;
        p{
            line-height: 24px;
            font-weight: 400;
        }
    }
   
}
.question-font{
    font-size: 35px;
    font-family: Roboto, serif;
    font-weight: 700;
    margin-right: 14px;
}
.icon-position{
    color:black;
    position: absolute;
    top:50px;
    right:10px;
    font-size: 28px;

}

.activityInfo-item{
    display:flex;
    align-items: center;
    background-color: rgba(255, 204, 0, 0.3);
    border-radius:10px;
    padding:23px 41px 23px 70px;
    @include pad{
        flex-wrap: wrap;
    }
    @include mobile{
        padding:12px;
    }
}
.date{
    font-family:Roboto, serif;
    font-size: 28px;
    font-weight: 700;
    @include mobile{
        font-size: 12px;
    }
}

.activityLabel{
    
    border-radius: 10px;
    text-align: center;
    padding:23px 40px;
    margin-left: 30px;
    @include pad{
        margin-left: 12px;
    }
    @include mobile{
        padding:2px 18px;
        border-radius: 5px;
        margin-left: 12px;
    }
    p{
        color:$light;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Noto Sans TC',sans-serif;
        @include mobile{
            font-size: 14px;
        }
    }
}


.activity-txt{
    width:469px;
    font-size: 18px;
    margin-left: 13px;
    line-height: 26px;

    @include mobile{
        font-size: 16px;
    }
}

.recruitment{
    margin-bottom: 92px;
    width:610px;
    border-radius: 15px;
    padding:16px 80px; 
    @include pad{
        padding:16px 16px; 
    }
    h3{
        margin-top: 16px;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Noto Sans TC',sans-serif;
        @include mobile{
            font-size: 25px;
        }
    }
}
.recruitment-subtitle{
    margin-top: 85px;
    margin-bottom: 31px;
    font-size: 30px;
    font-family: Roboto, serif;
    font-weight: 700;
    @include mobile{
        margin-top: 49px;
        font-size: 20px;
    }
}

.recruitment-txt{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 26px;
    @include mobile{
        font-size: 16px;
    }
}


.footer-links{
    padding-top:66px;
    padding-bottom:47px;
    a{
        margin-right: 75px;
        color:black;
        font-weight: 700;
        font-family:'Noto Sans TC', serif;
        @include mobile{
            margin-right: 30px;
            font-size: 12px;
        }
    }
    a:hover{
        color:$success;
    }
}

.links-row{
    margin-bottom: 27px;
}

.links-firstrow{
    @include mobile{
        margin-bottom: 42px;
        margin-right: 0px;
    }
}

//高雄一日遊頁面
.KaohsiungAttration{
    h1{
        font-family: 'Noto Sans TC',serif;
        font-weight: 700;
        line-height: 72px;
        margin-top: 92px;
        margin-bottom: 92px;
        @include pad{
            font-size: 25px;
            margin-top: 32px;
            margin-bottom: 32px;
            line-height: 36px;
        }
    }
    img{
        border-radius: 15px;
    }
    .KaohsiungAttration-img{
        margin-bottom: 42px;
        width:100%;
        height:560px;
        object-fit: cover;
        @include pad{
            margin-bottom: 16px;
           
        }
        @include mobile{
            height:200px;
        }
    }
    h2{
        font-size: 35px;
        font-family: 'Noto Sans TC',serif;
        font-weight: 700;
        margin-bottom: 42px;
        @include pad{
            margin-bottom: 16px;
            font-size: 20px;
        }
    }
    p{
        font-weight: 500;
        font-family: 'Noto Sans TC',serif;
        line-height: 24px;
        font-size: 20px;
        margin-top: 42px;
        margin-bottom: 92px;
        @include pad{
           
            font-size: 16px;
        }
    }
}





.attrationIntro{
    margin-top: 92px;
    margin-bottom: 92px;
    @include mobile{
        margin-top: 16px;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }
}
.attractionIntro-img{
  width:505px;
  height:360px;
  margin-right: 125px;
  @include pad {
     width:50%;
      margin-right: 16px;
      height:200px;
  }
  @include mobile{
      width: 100%;
      margin-right: 0px;
  }

}

.attrationIntro-txt{
    width:400px;
    @include pad{
        width:45%;
        
    }
    @include mobile{
        width:100%;
        margin-top: 16px;
       
    }

}


//人氣景點探索頁面

.breadcrumbs{
    margin-top: 92px;
    margin-bottom: 46px;

}

.breadcrumbs-item{
    display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after{
 content:'>';
 margin:0 5px;
}

.breadcrumbs-link{
    color:black;
    font-family:  'Noto Sans TC',serif;
    &:hover{
        text-decoration: underline;
    }
}
.breadcrumbs-link-active{
    font-weight: 700;
}

.main{
    h2{
        font-size: 30px;
        font-family: 'Noto Sans TC',serif;
        font-weight: 700;
        margin-bottom: 87px;
    }
}


.selectGroup{
    margin-bottom: 92px;
    justify-content: center;
    @include mobile{
        justify-content: flex-start;
        margin-bottom: 12px;
    }
}

.selectGroup-mobile{
    display: none;
    @include mobile{
        display: block;
        margin-bottom: 32px;
    }
}

.areaList{
    height:55px;
    padding: 13px 40px;
    outline:none;
    border-radius: 20px;
    border:1px solid $secondary;
    color:$secondary;
    font-size: 20px;
    margin-right: 42px;
     @include pad{
         font-size: 14px;
         padding: 10px 20px;
     }
     @include mobile{
         height:auto;
     }
    option{
        font-size: 20px;
        color:$secondary;
        @include pad{
            font-size: 14px;
        }
    }
}

.categoryBtn{
    background-color: $light;
    border:1px solid $secondary;
    border-radius: 20px;
    padding:13px;
    margin-right: 20px;
  
 
    a{
        color:$secondary;
        font-size: 20px;
        @include pad{
            font-size: 14px;
        }
    }
    &:hover{
            background-color:$secondary;
            a{
                color:$light;
            }
    }

    @include pad{
        padding:8px;
        margin-right: 8px;
    }
    @include mobile{
        display: none;
    }
}


.categoryBtn-mobile{
    background-color: $light;
    border:1px solid $secondary;
    border-radius: 20px;
    width:101px;
    padding:8px;
    a{
        color:$secondary;
        font-size: 14px;
      
    }
    &:hover{
        background-color:$secondary;
       a{
        color:$light;
       } 
    }    
   
  
}

.attractionList{
    justify-content: space-around;
    h4{
        text-align: center;
        margin-top: 18px;
        font-size: 18px;
        font-weight: 400;
        font-family:  'Noto Sans TC',serif;
        @include mobile{
            margin-top: 6px;
            font-size: 12px;
        }
    }
}
.attractionList-item{
 position: relative;
 margin-bottom: 42px;
 @include mobile{
     margin-bottom: 28px;
 }
}
.attractionList-img{
    width:325px;
    height:216px;
    border-radius: 15px;  
    
    @include mobile{
        width:162px;
        height:103px;
    }
}

.attractionList-label{
    position:absolute;
    top:60px;
    right:0px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    writing-mode: vertical-rl;
    padding: 28px 14px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    @include mobile{
        top:10px;
        padding:15px 10px;
        font-size: 12px;
    }
    
}