@import "_variables";
@import "_base";
@import "_mixin";
@import "_utils";

.border-0{
    border: none;
}
.rounded-1{
    border-radius:20px;
}

.fz-12{
    font-size: 12px;
}
.fz-30{
    font-size: 30px;
}

    

nav{
    height:109px;
    @include mobile{
        flex-wrap: wrap;
    }
}

.nav-title{
    h1{
        float:left;
        a{
            background-image: url(/img/taiwango-logo.png);
            background-position: center;
            height:41px;
            width:149px;
            display: block;
            text-indent: 101%;
            overflow: hidden; 
            white-space: nowrap;
        }
    }
    @include mobile{
        display: flex;
        padding-left: 102px;
       
    }
}

.nav-searchBar{
    input{
        padding-top: 15px;
        padding-bottom:15px;
        padding-left: 20px;
        border-top-left-radius: 20px; 
        border-bottom-left-radius:20px;
        border:1px;
    }
    button{
        background-color:#00C2BA; 
        border-top-right-radius: 20px; 
        border-bottom-right-radius:20px;
        border:1px;
        color:white;
        font-size: 35px;
        padding: 7px 25px;
  
        }
        @include pad{
            display: flex;
        }
        @include mobile{
            display: none;
        }
    }


.nav-selectArea{
    border:none;
    border-left:1px solid #FF8800; 
    color:#FF8800; 
}


.nav-mobile-searchBar{
    @include desktop-below{
        display: none;
    }
    @include pad{
        display: none;
    }
    @include mobile{
        display: block;
    }
    input{
        padding:8px 84px;
    }
    
}

.nav-links{
    a{
    color:white;
    i{
        margin-bottom: 10px;
    }
}
    
    @include pad{
        display: flex;
    }
    @include mobile{
        display: none;
    }
}

.nav-mobile-links{
    padding-left:74px;
    a{
        color:white;
        i{
            font-size: 18px;
        }
    }
    

    @include desktop-below{
        display: none;
    }

    @include mobile{
        display: block;
    }

}